registry=http://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node

puppeteer_download_host=https://npmmirror.com/mirrors

verify-store-integrity=false
ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=true
enable-pre-post-scripts=true
